<input type="search" id="gettn" class="getsearch" placeholder="Enter Train No ">

<input type="search" id="getdat" class="getsearch" placeholder="Enter Date dd-mm-yyyy">
<input type="button" value="Submit" id="postsub" ng-click="trnno()">

<div id="data">

    <div id="lvstatus">

        <table>
            <tr>
                <th colspan="4"> Live Train Status</td>
            </tr>
            <tr>
                <th>Train Name</th>
                <th>Train No</th>
                <th>Start Date</th>
                <th>Current station</th>
            </tr>
            <tr>
                <td>{{data.train.name}}</td>
                <td>{{data.train.number}}</td>
                <td>{{data.start_date}}</td>
                <td>{{data.current_station.name}}({{data.current_station.code}})</td>
            </tr>
            <tr>
                <th colspan="4">Train position</th>
            </tr>
            <tr>
                <td colspan="4">{{data.position}}</td>
            </tr>
        </table>
    </div>
    <div id="paststatus">
        <table>
            <tr>
                <th colspan="9">Train Running History</th>
            </tr>
            <tr>
                <th>Station</th>
                <th>Schedule Arrival</th>
                <th>Schedule Arrival Date</th>
                <th>Actual Arival</th>
                <th>Actual Arrival Date</th>
                <th>Schedule Departure</th>
                <th>Actual Departure</th>
                <th>Late</th>
                <th>Distain</th>
            </tr>
            <tr ng-repeat="data in data.route">
                <td>{{data.station.name}}</td>
                <td>{{data.scharr}}</td>
                <td>{{data.scharr_date}}</td>
                <td>{{data.actarr}}</td>
                <td>{{data.actarr_date}}</td>
                <td>{{data.schdep}}</td>
                <td>{{data.actdep}}</td>
                <td>{{data.status}}</td>
                <td>{{data.distance}}</td>

            </tr>
        </table>
    </div>
</div>